.csCampaign {
  display: flex;
  background-color: $bg-red;
  justify-content: center;
  padding: 10px;
  width: auto;
  border-radius: 10px;
  margin-right: 20px;
  @include devices(tablet) {
    width: 100%;
    margin: 10px 0;
  }
  @include devices(mobile) {
    width: 100%;
    margin: 10px 0;
  }

  &__image {
    margin-right: 20px;
    //make responsive image style
  }
  &__status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    &__title {
      color: $text-03;
      font-size: 24px;
      font-weight: 200;
    }
    &__link {
      margin-top: 10px;
      display: flex;
      padding: 8px 16px;
      border-radius: 15px;
      color: $text-04;
      background-color: $base-white;
      display: block;
    }
  }
}
.csCamp {
  @include devices(tabletl) {
    flex-direction: column;
  }
  @include devices(tablet) {
    flex-direction: column;
  }
  @include devices(mobile) {
    flex-direction: column;
  }
}
