.csCard {
  width: 272px;
  height: 400px;
  display: flex;
  flex-direction: column;
  border: 1px solid $border-01;
  border-radius: 10px;
  padding: 15px;
  margin: 20px 25px;
  &:last-child {
    margin-right: 0;
  }
  &__status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: auto;
    margin-top: auto;
    &__title {
      font-size: 14px;
      color: $text-01;
      font-weight: 400;
    }
    &__tag {
      color: $text-02;
      font-size: 14px;
      font-weight: 400;
    }
    &__price {
      font-size: 15px;
      margin-top: auto;
      font-weight: 400;
    }
  }
  &__buttons {
    color: $base-blue;
    font-weight: 400;
    border: 1px solid $border-01;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    border-radius: 22px;
    background-color: white;
    margin-top: auto;
    span {
      font-size: 14px;
    }
    &__plus {
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      color: $base-blue;
      background-color: $bg-lightblue;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      &:hover {
        cursor: pointer;
      }
    }
    &__minus {
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      color: $base-blue;
      background-color: $bg-lightblue;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__button {
    color: $base-blue;
    font-weight: 400;
    border: 1px solid $base-blue;
    text-align: center;
    padding: 10px 80px;
    border-radius: 22px;
    background-color: white;
    margin-top: auto;
    &:hover {
      cursor: pointer;
    }
  }
}
