.csHeader {
  display: flex;
  align-items: center;
  height: 90px;

  &__logo {
    margin-right: 64px;
  }

  &__search {
    margin-right: 232px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    border: 2px solid #edf1f2;
    border-radius: 28px;
    padding: 8px 16px;
    width: 100%;
    &__input {
      height: 30px;
      width: 100%;
      padding: 0 10px;
      font-size: 14px;
      outline: none;
      border: none;
      background-color: transparent;
    }
    &__button {
      border-radius: 28px;
      background-color: #51b549;
      color: white;
      border: none;
      padding: 8px 16px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__bucket {
    background-color: $base-blue;
    padding: 16px 24px;
    font-size: 16px;
    color: $base-white;
    display: flex;
    border: none;
    border-radius: 28px;
    justify-content: center;
    align-items: center;
    position: relative;
    &:hover {
      cursor: pointer;
    }
    &__icon {
      margin-right: 8px;
    }
    &__count {
      position: absolute;
      top: -10px;
      right: 0;
      background-color: $text-04;
      color: $base-white;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      font-weight: 500;
    }
    &__progresscontainer {
      &:hover {
        cursor: default;
      }
      padding: 10px;
      &::before {
        content: '';
        position: absolute;
        top: -5px;
        left: 80%;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        background-color: $bg-alice;
      }
      flex-direction: column;
      position: absolute;
      top: 120%;
      right: 0;
      width: 340px;
      height: 100%;
      background-color: $bg-alice;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      z-index: 1;
      border-radius: 10px;
      &__text {
        &--active {
          color: $bg-honey;
          font-weight: bold;
        }
      }
      &__progressbar {
        margin-top: 5px;
        position: relative;
        width: 100%;
        border-radius: 3px;
        padding: 3px;
        background-color: $bg-alice-dark;
        display: flex;
        justify-content: center;
        align-items: center;
        &__progress {
          position: absolute;
          top: 0;
          left: 0;
          width: 20%;
          height: 100%;
          border-radius: 3px;
          background-color: $bg-honey;
        }
      }
    }
  }
}
