.csHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;

  &__bucket {
    background-color: $base-blue;
    padding: 16px 24px 16px 24px;
    font-size: 16px;
    color: $base-white;
    display: flex;
    border: none;
    border-radius: 28px;
    justify-content: center;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
    &__icon {
      margin-right: 8px;
    }
  }
}
