.csList {
  margin: 20px 0;
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    justify-content: center;
    &__non {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      font-weight: bold;
      width: 100%;
    }
  }
  &__title {
    font-size: 20px;
    color: $text-03;
    font-weight: normal;
    &__icon {
      margin-right: 10px;
    }
  }
}
